/*mobile first*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  background-color: white;
}
.container {
  background-color: #f5f5f5;
 padding: 2vh 2vw;
}
#title {
  display: none;
}
#title > h2 {
  font-weight: 100;
  margin-bottom: 30px;
}
.section {
margin: 2vh;
box-shadow: 0 2px 3px 0 rgba(0,0,0,.11);
background-color: white;
}
.section:nth-of-type(5n+1) {
  height: 50vh;
}
.section:first-of-type {
  background-image: url("../images/outter1.jpg");
}
.section:nth-of-type(2) > .inner-section-image {
  background-image: url("../images/inner1.jpg");
}
.section:nth-of-type(3) > .inner-section-image {
  background-image: url("../images/inner2.jpg");
}
.section:nth-of-type(4) > .inner-section-image {
  background-image: url("../images/inner3.png");
}
.section:nth-of-type(5) > .inner-section-image {
  background-image: url("../images/inner4.jpg");
}
.section:last-of-type {
  background-image: url("../images/outter2.jpg");
}
.section, .inner-section > .inner-section-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.inner-section {
  display: flex;
}
.inner-section > .inner-section-image {
  flex: 33%;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 10vmax;
  margin: 10px;
  position: relative;
}
.inner-section > .inner-section-text {
  flex: 66%;
  width: 100%;
  line-height: 1.4;
  font-size: 16px;
  padding: 10px 15px 10px 5px;
}
.inner-section > .inner-section-text > h4 {
  font-weight: normal;
}
.inner-section > .inner-section-text > .text-area {
  margin-bottom: 10px;
}
.inner-section > .inner-section-text > footer {
  font-size: 10px;
}
/*media queries*/
@media screen and (min-width: 600px) {
  .section, .section:nth-of-type(5n+1) {
    margin: 2.5%;
    height: 270px;
  }
  .inner-section {
   flex-direction: column;
   width: 44.6%;
   display: inline-grid;
  }
  .inner-section > .inner-section-image, .inner-section > .inner-section-text {
    width: auto;
  }
  .inner-section > .inner-section-image {
    flex: 0 0 48%;
    margin: 0;
  }
  .inner-section > .inner-section-text {
    padding: 11px;
    height: auto;
    text-align: center;
  }
  .inner-section > .inner-section-text > .text-area {
    min-height: 90px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
   padding: 2vh 3vw;
  }
  #title {
    display: block;
  }
  .section-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .section {
    width: 22%;
  }
  .section:nth-of-type(5n+1) {
    width: 47%;
  }
  .section, .section:nth-of-type(5n+1) {
    display: flex;
  }
  #title, .section, .section:nth-of-type(5n+1) {
    margin: 1.5%;
  }
  @media screen and (min-width: 1400px) {
    .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    }
  }
}
