/*mobile first*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.container {
 padding: 4vh 2vw;
}

.section {
background-repeat: no-repeat;
background-size: cover;
background-position: 50%;
margin: 2vh;
height: 22vmax;
border: 1px solid black;
}

/*outter sections*/
.section:nth-of-type(5n+1) {
  height: 50vh;
}
.section:first-of-type {
  background-image: url("../images/outter1.jpg");
}
.section:nth-of-type(2) > .inner-section-image {
  background-image: url("../images/inner1.jpg");
}
.section:nth-of-type(3) > .inner-section-image {
  background-image: url("../images/inner2.jpg");
}
.section:nth-of-type(4) > .inner-section-image {
  background-image: url("../images/inner3.png");
}
.section:nth-of-type(5) > .inner-section-image {
  background-image: url("../images/inner4.jpg");
}
.section:last-of-type {
  background-image: url("../images/outter2.jpg");
}
.inner-section {
  display: flex;
}

.inner-section > .inner-section-image {
  flex: 33%;
  background-position: 50%;
  background-size: cover;
  height: 55%;
  margin: 10px;
  position: relative;
  border: 1px solid black;
}
.inner-section > .inner-section-text {
  flex: 66%;
  width: 100%;
  line-height: 1.4;
  font-size: 18px;
  padding: 10px 15px 10px 5px;
  border: 1px solid black;
}
.inner-section > .inner-section-text > h4 {
  font-weight: normal;
}

/*media queries*/
